<div class=" bg-indigo-800 text-white items-center text-textColor 2xl:container bg-headerFooter">
	<div class="  flex justify-between m-auto max-w-5xl">
		<div class=" flex justify-between w-96 ">
			<div class="flex items-center">
				<img class=" m-3" src="/image/img-near-phone.png" alt="mail">
				<a href="mailto:mail@gmail.com">mail@gmail.com</a>
			</div>
			<div class="flex items-center">
				<img  class=" m-3" src="/image/phone.png" alt="phone">
				<a href="123-456-189">123-456-189</a>
			</div>
		</div>
		<div class=" flex w-96 items-center justify-end">
			<img class=" m-3" src="/image/clock.png" alt="clock">
			<p>08:00 Am until 06:00 PM</p>
		</div>
	</div>
</div>

