<div class="bg-amber-50 2xl:container ">
	<nav class="  border-b-2 border-indigo-700 m-auto max-w-5xl bg-amber-50 items-center text-textColor 2xl:container text-indigo-800 flex justify-between">
	<div class=" mb-2 mt-4">
		<img class=" ml-3 h-6" src="/image/logo.png" alt="logo">
	</div>
	<ul class=" flex gap-4">
		<li ><a href="/">Home</a></li>
		<li><a href="aboutUs">About Us</a></li>
		<li><a href="services">Services</a></li>
		<li><a href="gallery">Gallery</a></li>
		<li><a href="team">Team</a></li>
		<li><a href="/contactUs">Contact Us</a></li>
	</ul>
</nav>
</div>